<template>
  <v-app id="inspire">
    <template v-if="token">
      <v-navigation-drawer
        v-model="drawer"
        app
        clipped
        width="320"
      >
        <Sidebar />
      </v-navigation-drawer>

      <v-app-bar
        app
        clipped-left
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <v-toolbar-title>Nerddevs</v-toolbar-title>
        <v-spacer />
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on">
              {{ user.firstName }}
              <v-icon large>
                mdi-account
              </v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-switch
                v-model="$vuetify.theme.dark"
                label="Use Dark Theme"
              />
            </v-list-item>
            <v-list-item>
              <v-btn
                text
                @click="logout"
              >
                Logout
              </v-btn>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>

      <v-content>
        <v-container
          class="fill-height"
          fluid
        >
          <v-row align="center">
            <v-col>
              <router-view />
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </template>

    <template v-else>
      <v-app-bar app>
        <v-toolbar-title>Nerddevs</v-toolbar-title>
      </v-app-bar>

      <Auth />
    </template>

    <v-footer
      app
      class="text-right"
    >
      <div style="width: 100%;">
        Powered By <a href="https://www.nerddevs.com">Nerddevs</a>
      </div>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapState } from 'vuex';
import Sidebar from '@/components/Sidebar.vue';
import Auth from '@/views/auth/Auth.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Sidebar,
    Auth,
  },
  data: () => ({
    drawer: null as null | boolean,
  }),
  computed: {
    ...mapState(['token', 'user']),
  },
  methods: {
    ...mapActions(['logout']),
  },
  created() {
    this.$vuetify.theme.dark = true;
    this.$store.dispatch('localLogin');
  },
});
</script>
