<template>
  <v-content>
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        justify="center"
        align="center"
      >
        <v-col cols="12">
          <!--suppress HtmlUnknownTarget -->
          <v-img
            :src="imageSrc"
            class="mb-3"
            contain
            height="120"
          />
        </v-col>
        <v-col
          cols="12"
          md="6"
          lg="4"
        >
          <v-form
            ref="form"
            lazy-validation
            @submit.prevent="submit"
          >
            <v-text-field
              v-show="useRegisterView"
              v-model="user.firstName"
              label="First Name"
              :error-messages="error.firstName"
            />
            <v-text-field
              v-show="useRegisterView"
              v-model="user.lastName"
              label="Last Name"
              :error-messages="error.lastName"
            />
            <v-text-field
              v-model="user.username"
              label="Username"
              :error-messages="error.username"
            />
            <v-text-field
              v-model="user.password"
              label="Password"
              :error-messages="error.password"
              type="password"
            />
            <v-text-field
              v-show="useRegisterView"
              v-model="user.confirm"
              label="Confirm Password"
              :error-messages="error.confirm"
              type="password"
            />
            <v-container>
              <v-row>
                <v-btn
                  type="submit"
                  class="mr-4"
                >
                  {{ useRegisterView ? 'Register' : 'Login' }}
                </v-btn>
                <v-btn @click="clear">
                  Clear
                </v-btn>
                <a
                  role="button"
                  class="align-self-center ml-auto"
                  @click="switchView"
                >
                  {{ !useRegisterView ? 'Register Instead' : 'Login Insted' }}
                </a>
              </v-row>
            </v-container>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import { User } from '@/types';

interface PasswordFields {
  password: string;
  confirm: string;
}

interface UserWithPassword extends User, PasswordFields{}

type UserError = Record<keyof UserWithPassword, string[]>;

interface Data {
  useRegisterView: boolean;
  user: UserWithPassword;
  error: UserError;
}

interface Computed {
  imageSrc: string;
}

interface Methods {
  _login(): Promise<void>;
  _register(): Promise<void>;
  submit(): Promise<void>;
  clear(): void;
  switchView(): void;
}

export default Vue.extend<Data, Methods, Computed>({
  name: 'Login',
  data() {
    return {
      useRegisterView: false,
      user: {
        firstName: '',
        lastName: '',
        username: '',
        password: '',
        confirm: '',
      },
      error: {} as UserError,
    };
  },
  computed: {
    imageSrc() {
      // eslint-disable-next-line global-require,import/no-dynamic-require
      return require(this.$vuetify.theme.dark ? '@/assets/logo-red.png' : '@/assets/logo.png');
    },
  },
  methods: {
    async _login() {
      try {
        const loginResponse = await axios.post('/auth/login', {
          username: this.user.username,
          password: this.user.password,
        });
        const { user, token } = loginResponse.data;
        await this.$store.dispatch('login', { user, token });
      } catch (e) {
        this.error = {
          username: [e.response.data.message as string],
        } as UserError;
      }
    },
    async _register() {
      try {
        await axios.post('/auth/register', this.user);
        this.clear();
        this.useRegisterView = false;
      } catch (e) {
        this.error = e.response.data.message;
      }
    },
    async submit() {
      if (this.useRegisterView) {
        await this._register();
      } else {
        await this._login();
      }
    },
    clear() {
      for (const field in this.user) {
        this.user[field as keyof UserWithPassword] = '';
      }
      this.useRegisterView = false;
      this.error = {} as UserError;
    },
    switchView() {
      this.useRegisterView = !this.useRegisterView;
    },
  },
});
</script>
