<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col lg="3">
        <v-select
          :items="users"
          v-model="userId"
          item-value="_id"
          :item-text="(user) => `${user.firstName} ${user.lastName}`"
          label="Select User"
          key="user-select"
        ></v-select>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="8">
        <v-data-table
          caption="List of Users"
          :items="users"
          :headers="[
            {text: 'First Name', value: 'firstName'},
            {text: 'Last Name', value: 'lastName'},
            {text: 'Username', value: 'username'},
            {text: 'Created', value: 'createdAt'},
            {text: 'Updated', value: 'updatedAt'},
          ]"
          key="users-table"
        >
          <template #item.createdAt="{value}">
            {{formatDate(value)}}
          </template>
          <template #item.updatedAt="{value}">
            {{formatDate(value)}}
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import axios from 'axios';
import moment from 'moment';
import Vue from 'vue';

type Data = {
  userId: string;
  users: object[];
};

export default Vue.extend<Data, {}, {}>({
  name: 'Home',
  data() {
    return {
      userId: '',
      users: [],
    };
  },
  async created() {
    try {
      const usersResponse = await axios.get('/users');
      this.users = usersResponse.data.users;
    } catch (e) {
      console.error(e);
    }
  },

  methods: {
    formatDate(date: string) {
      return moment(date).format('LLL');
    },
  },
});
</script>
