<template>
  <v-card class="mx-auto">
    <v-sheet class="pa-4 info" :class="searchCardClass">
      <v-text-field
        label="Search Menu"
        v-model="search"
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>
    </v-sheet>
    <v-card-text>
      <v-treeview
        dense
        transition
        activatable
        hoverable
        shaped
        open-on-click
        :items="menus"
        color="primary"
        item-key="id"
        item-text="name"
        :search="search"
      >
        <template v-slot:label="{ item, leaf }">
          <router-link v-if="leaf" :to="item.url" active-class="primary--text font-weight-bold"
                       style="text-decoration: none;" class="d-block white--text">
            {{ item.name }}
          </router-link>
          <template v-else>{{ item.name }}</template>
        </template>
      </v-treeview>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { mapState } from 'vuex';
import Vue from 'vue';

const Sidebar = Vue.extend({
  data() {
    return {
      search: '',
    };
  },

  computed: {
    ...mapState(['menus']),
    searchCardClass() {
      return this.$vuetify.theme.dark ? 'darken-3' : 'lighten-3';
    },
  },
});
export default Sidebar;
</script>
